<form>
  <div	class="form-group">
    <label	for="nombre">Ingresa tu Nombre</label>
      <input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar nombre..." #nombre>
    </div>
      <div	class="form-group">
        <label	for="Imagen	Url">Elige tu combo</label>
        <select	class="form-control" class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." required #url>
          <option value="combo1">Combo1</option>
          <option value="combo2">Combo2</option>
          <option value="combo3">Combo3</option>
          <option value="combo4">Combo4</option>
        </select>
      </div>
      <div class="mi-button">
        <button	type="submit"	class="btn	bg-danger text-white" (click)="guardar(nombre.value, url.value)">Guardar!</button>
      </div>
    </form>
