<div class="row combos">
  <div class="card col bg-warning" style="width: 18rem;">
    <img src="{{ img[0] }}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text" id="combo1" #url1><strong>Combo1:</strong><span>quick example text to build on the card title and make up the bulk of the card's content.</span></p>
    </div>
    <div class="d-flex">
        <button class="btn btn-danger boton" (click)="cambio(url1.id)">Ver combo</button>
    </div>
  </div>
  <div class="card col bg-warning" style="width: 18rem;">
    <img src="{{ img[1] }}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text" id="combo2" #url2><strong>Combo2:</strong><span>quick example text to build on the card title and make up the bulk of the card's content.</span></p>
    </div>
    <div class="d-flex">
      <button class="btn btn-danger boton" (click)="cambio(url2.id)">Ver combo</button>
  </div>
  </div>
  <div class="card col bg-warning" style="width: 18rem;">
    <img src="{{ img[2]}}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text" id="combo3" #url3><strong>Combo3:</strong><span>quick example text to build on the card title and make up the bulk of the card's content.</span></p>
    </div>
    <div class="d-flex">
      <button class="btn btn-danger boton" (click)="cambio(url3.id)">Ver combo</button>
  </div>
  </div>
  <div class="card col bg-warning" style="width: 18rem;">
    <img src="{{ img[3] }}" class="card-img-top" alt="...">
    <div class="card-body">
      <p class="card-text" id="combo4" #url4><strong>Combo4:</strong><span>quick example text to build on the card title and make up the bulk of the card's content.</span></p>
    </div>
    <div class="d-flex">
      <button class="btn btn-danger boton" (click)="cambio(url4.id)">Ver combo</button>
  </div>
  </div>
</div>
