<div class="tarj">
  <div class="card-content bg-warning">
          <div class="card-img">
                <img src="{{destino.img}}"	alt="">
                <span><h4>{{position}}</h4></span>
          </div>
          <div class="card-desc">
                <h3>{{ destino.nombre }}</h3>
                <p>Menu</p>
                <ul>
                  <li *ngFor="let s of destino.menu">
                    <span [ngSwitch]="s">
                      <i *ngSwitchCase="destino.menu[0]" style="color:red;">{{s}}</i>
                      <i *ngSwitchDefault>{{s}}</i>
                    </span>
                  </li>
                </ul>
              <a href="#"	class="btn-card" (click)="ir()">Ir!</a>
              <span *ngIf="destino.isSelected()">
                <span ngNonBindable>- {{ Para Llevar }} -</span>
                </span>
                <a [routerLink]="['/pedido']">Ver Pedido</a>
          </div>
    </div>
</div>
