<div	class="container content">
  <div class="cartelera">
    <app-cartelera [img]="img"></app-cartelera>
  </div>
  <div class="row registradora">
    <div	class="col-md-6	offset-md-3">
      <span	class="anchor" id="formLogin"></span>
        <!-- form	card	login	with	validation	feedback	-->
          <div	class="card	card-outline-secondary">
            <div	class="card-header bg-warning">
                <h3	class="mb-0">Ingresa tu pedido</h3>
            </div>
            <div	class="card-body bg-warning">
              <form>
                  <div	class="form-group">
                    <label	for="nombre">Ingresa tu Nombre</label>
                      <input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar nombre..." #nombre>
                    </div>
                      <div	class="form-group">
                        <label	for="Imagen	Url">Elige tu combo</label>
                        <select	class="form-control" class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." required #url>
                          <option value="combo1">Combo1</option>
                          <option value="combo2">Combo2</option>
                          <option value="combo3">Combo3</option>
                          <option value="combo4">Combo4</option>
                        </select>
                      </div>
                      <div class="mi-button">
                        <button	type="submit"	class="btn	bg-danger text-white" (click)="guardar(nombre.value, url.value)">Guardar!</button>
                      </div>
                    </form>
                    </div>
              </div>
          </div>
    </div>
  <hr	class="mb-5">
  <div class="row">
      <app-restaurant
      *ngFor="let d of destinos; let i=index"
      [destino]="d"
      [idx]="i+1"
      (clicked)="elegido($event)"></app-restaurant>
  </div>
</div>
