<div class="container content">

  <div class="page-header">
    <div class="container">
      <h1>Barra</h1>
      <div class="nav">
        <a class="nav-link" [routerLink]="['/home']">Home</a>
        <a class="nav-link" [routerLink]="['/pedido']">Pedido</a>
      </div>
    </div>
  </div>
  <div class="text-center text-white">
    <h1>{{ title }}</h1>
  </div>
  <div class="text-center">
    <router-outlet></router-outlet>
  </div>
</div>

<hr>

Fecha: {{ time }}
